@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn .8s ease forwards;
}
@keyframes twinkle {
  0%,100% {
    opacity: .15;
  }

  50% {
    opacity: .8;
  }
}

.stars {
  position: fixed;
  inset: 0;
  background-image:
    radial-gradient(white 1px, transparent 1px),
    radial-gradient(white 1px, transparent 1px);

  background-size: 120px 120px, 200px 200px;
  background-position: 0 0, 60px 80px;

  opacity: .12;

  animation: starsMove 120s linear infinite;

  pointer-events: none;
  z-index: 0;
}

@keyframes starsMove{
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(-400px);
  }
}
@keyframes float {
  0%,100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }
}

html {
  scroll-behavior: smooth;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
}

@keyframes twinkle {
  0%,100%{
    opacity:.2;
  }

  50%{
    opacity:1;
  }
}

.star{
  position:absolute;
  background:white;
  border-radius:9999px;
  animation:twinkle 3s infinite ease-in-out;
}
